include LICENSE
include MANIFEST.in
include README.md
include README_Hadoop_Streaming.md
include CONTRIBUTING.md
graft tests
graft madoop/example

# Avoid dev and and binary files
exclude AGENTS.md
exclude CLAUDE.md
exclude tox.ini
exclude .coveragerc
exclude .editorconfig
global-exclude *.pyc
global-exclude __pycache__
